$gold: #FFD700;
$grey: #1e1e1e;

ion-content {
  --background: #000;
  color: #636363;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}

.contact-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  box-sizing: border-box;
}

.contact-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 16px;
}

h1 {
  color: $gold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  color: #999;
  font-size: 14px;
  text-align: center;
  margin: -4px 0 10px 0;
}

.rounded-input {
  --background: $grey;
  --color: #363636;
  --placeholder-color: #333232;
  --highlight-color-focused: $gold;
  border-radius: 12px;
  padding: 4px 8px;
}

ion-label {
  color: $gold;
  font-weight: bold;
}

ion-button {
  --background: #FFD700;
  --color: #000;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(255, 215, 0, 0.4);
}
