

<ion-content class="ion-padding">
  <div class="booking-page-wrapper">
    <img src="assets/logo.png" alt="Logo" class="logo" />

    <h1>Book Your Car Service</h1>
    <p>Fill in the details below to request a mobile service.</p>

    <form (ngSubmit)="submitBooking()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="booking.name" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input [(ngModel)]="booking.phone" name="phone" type="tel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-datetime [(ngModel)]="booking.date" name="date" required></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input [(ngModel)]="booking.location" name="location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Service</ion-label>
        <ion-input [(ngModel)]="booking.service" name="service" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top">
        Submit Booking
      </ion-button>
    </form>
  </div>
</ion-content>
