<ion-content class="ion-padding">
  <!-- Back Button inside ion-content -->
  <ion-button fill="clear" class="custom-back" (click)="goBack()">
    <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
  </ion-button>

  <div class="booking-page-wrapper">
    <img src="assets/logo.png" alt="Logo" class="logo" />

    <h1>Book Your Car Service</h1>
    <p>Fill in the details below to request a mobile service.</p>

    <form (ngSubmit)="submitBooking()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="booking.name" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input [(ngModel)]="booking.phone" name="phone" type="tel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-datetime [(ngModel)]="booking.date" name="date" required></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input [(ngModel)]="booking.location" name="location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Service</ion-label>
        <ion-input [(ngModel)]="booking.service" name="service" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top">
        Submit Booking
      </ion-button>
    </form>

    

    <ion-list *ngIf="savedBookings.length > 0">
      <ion-item *ngFor="let b of savedBookings" class="booking-list-item">
        <ion-label>
          <h3>{{ b.service }}</h3>
          <p>{{ b.date | date: 'longDate' }} - {{ b.location }}</p>
          <small>Name: {{ b.name }} | Phone: {{ b.phone }}</small>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="danger" (click)="confirmDeleteAll()" class="ion-margin-top">
      Delete All Bookings
    </ion-button>
    <p *ngIf="savedBookings.length === 0" class="no-bookings">
      No bookings yet. Fill out the form above!
    </p>

    
  </div>
</ion-content>
