// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #FFD700; /* gold */
    --ion-color-primary-rgb: 255, 215, 0;
    --ion-color-primary-contrast: #000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #e6be00;
    --ion-color-primary-tint: #ffdc33;
  
    --ion-color-dark: #111;
    --ion-color-medium: #444;
  }