<ion-header>
  <ion-toolbar color="dark" style="--background: #000;">
    <ion-title>Mobile Servicing Galway</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <img src="assets/logo.png" alt="Logo" width="400" style="margin-top: 30px; border-radius: 12px;" />

  
  <p class="subtext">Your mobile mechanic & car cleaning solution</p>

  <ion-button expand="block" routerLink="/booking" color="dark">Book a Service</ion-button>
  <ion-button expand="block" fill="outline" routerLink="/services" color="medium">View Services</ion-button>

</ion-content>
