<ion-content>
  <div class="home-container">
    <img src="assets/logo.png" class="logo" alt="Logo" />

    <h1>Welcome to Mobile Servicing Galway</h1>
    

    <ion-button expand="block" routerLink="/booking" color="primary">Book a Service</ion-button>
    <ion-button expand="block" routerLink="/services" color="medium" fill="outline">View Services</ion-button>
    <ion-button expand="block" routerLink="/profile" color="warning">View Profile</ion-button>
    <ion-button expand="block" routerLink="/contact" color="tertiary">Contact Us</ion-button>
    <ion-button expand="block" (click)="logout()" color="danger">Logout</ion-button>
  </div>
</ion-content>